.bg-red{
    background-color: red;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    ;
 
    padding: 7px;
  }
  .grid-item {
 
    border: 3px solid rgba(0, 0, 0, 0.287);
    padding: 20px;
    font-size: 40px;
    text-align: center;
  }